<mat-drawer-container class="example-container" [ngClass]="{'menuslider' : menu_slider}">
    <mat-drawer class="side" mode="side" opened>
        <mat-nav-list>
            <mat-list-item (click)="menuslide()">
                <mat-icon class="menuBar"> notes</mat-icon>
            </mat-list-item>
            <mat-list-item routerLink="service-dashboard" routerLinkActive="active">
                <mat-icon  mat-list-icon><i class="fab fa-slideshare" aria-hidden="true"
                        ></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Dashboard</h5>
                </div>
            </mat-list-item>
  
              <!-- <mat-list-item style="padding-left: 5px;" routerLink="service-admin" routerLinkActive="active">
                <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                        aria-hidden="true"
                        ></i>
                </mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Admin</h5>
                </div>
            </mat-list-item> -->
  
  
            <mat-list-item style="padding-left: 5px;" routerLink="service-employee" routerLinkActive="active">
              <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                      aria-hidden="true"
                      ></i>
              </mat-icon>
              <div fxFlex="10"></div>
              <div class="sidenav-item">
                  <h5 class="lead">Employee</h5>
              </div>
          </mat-list-item>
  
          <mat-list-item style="padding-left: 5px;" routerLink="service-service" routerLinkActive="active">
            <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                    aria-hidden="true"
                    ></i>
            </mat-icon>
            <div fxFlex="10"></div>
            <div class="sidenav-item">
                <h5 class="lead">Services</h5>
            </div>
         </mat-list-item>
  
  
              <!-- <mat-list-item style="padding-left: 5px;" routerLink="field_management" routerLinkActive="active">
                <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                        aria-hidden="true"
                        ></i>
                </mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Field Management</h5>
                </div>
            </mat-list-item> -->
  
  
  
  
  
           <mat-list-item style="padding-left: 5px;" routerLink="service-report" routerLinkActive="active">
            <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                    aria-hidden="true"
                    ></i>
            </mat-icon>
            <div fxFlex="10"></div>
            <div class="sidenav-item">
                <h5 class="lead">Reports</h5>
            </div>
         </mat-list-item>
  
         <mat-list-item style="padding-left: 5px;" routerLink="service-setting" routerLinkActive="active">
          <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                  aria-hidden="true"
                  ></i>
          </mat-icon>
          <div fxFlex="10"></div>
          <div class="sidenav-item">
              <h5 class="lead">Settings</h5>
          </div>
       </mat-list-item>
       <mat-list-item routerLinkActive="active" (click)="expand1 = !expand1">
        <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
            aria-hidden="true"
            ></i>
    </mat-icon>
        <div fxFlex="10"></div>
        <div class="sidenav-item">
            <h5 class="lead">Job Details</h5>
        </div>
        <div class="sb-sidenav-collapse-arrow">
            <i *ngIf="!expand1" class="fas fa-chevron-down" aria-hidden="true"></i>
            <i *ngIf="expand1" class="fas fa-chevron-up" aria-hidden="true"></i>
        </div>
    </mat-list-item>
       <mat-nav-list style=" padding-left: 5px; " *ngIf="expand1">
        <div class="sub-menu">

          
           
            <mat-list-item style="padding-left: 5px;"  routerLink="service-job_details/break_down" routerLinkActive="active">
                <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                    aria-hidden="true"
                    ></i>
            </mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Breakdown Service</h5>
                </div>
            </mat-list-item>
            <mat-list-item style="padding-left: 5px;" routerLink="" routerLinkActive="">
                <!-- <mat-icon  mat-list-icon>
                    <i class="fas fa-arrow-circle-right" aria-hidden="true"></i> 
                    <img class="sidebar-icon" src="../../assets/images/sidebar-menu/user-type-managment.png" alt="">
                </mat-icon> -->
                <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                    aria-hidden="true"
                    ></i>
            </mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">LR SERVICE</h5>
                </div>
            </mat-list-item>
            <mat-list-item style="padding-left: 5px;" routerLink="" routerLinkActive="">
                <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                    aria-hidden="true"
                    ></i>
            </mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Preventive Maintenance</h5>
                </div>
            </mat-list-item>
            <mat-list-item style="padding-left: 5px;" routerLink="" routerLinkActive="">
                <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                    aria-hidden="true"
                    ></i>
            </mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">Parts Replacement ACK</h5>
                </div>
            </mat-list-item>
            </div>
            </mat-nav-list>
  
         <!-- <mat-list-item style="padding-left: 5px;" routerLink="" routerLinkActive="active">
          <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                  aria-hidden="true"
                  ></i>
          </mat-icon>
          <div fxFlex="10"></div>
          <div class="sidenav-item">
              <h5 class="lead">Attendance Detail</h5>
          </div>
       </mat-list-item> -->
  
       <!-- <mat-list-item style="padding-left: 5px;" routerLink="" routerLinkActive="active">
        <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                aria-hidden="true"
                ></i>
        </mat-icon>
        <div fxFlex="10"></div>
        <div class="sidenav-item">
            <h5 class="lead">Collection ChQ</h5>
        </div>
     </mat-list-item> -->
  
  
     <!-- <mat-list-item style="padding-left: 5px;" routerLink="" routerLinkActive="active">
      <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
              aria-hidden="true"
              ></i>
      </mat-icon>
      <div fxFlex="10"></div>
      <div class="sidenav-item">
          <h5 class="lead">Tab User Detail</h5>
      </div>
   </mat-list-item> -->
  
  
  
  
  
            <!-- <mat-list-item routerLinkActive="active" (click)="expand1 = !expand1">
                <mat-icon  mat-list-icon>
                    <i class="fab fa-android" aria-hidden="true"
                        ></i></mat-icon>
                <div fxFlex="10"></div>
                <div class="sidenav-item">
                    <h5 class="lead">App Features</h5>
                </div>
                <div class="sb-sidenav-collapse-arrow">
                    <i *ngIf="!expand1" class="fas fa-chevron-down" aria-hidden="true"></i>
                    <i *ngIf="expand1" class="fas fa-chevron-up" aria-hidden="true"></i>
                </div>
            </mat-list-item>
            <mat-nav-list style="background: #011b91;padding-left: 5px;" *ngIf="expand1">
                <div class="sub-menu">
  
                    <mat-list-item routerLinkActive="active" (click)="expand2 = !expand2">
                        <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right" aria-hidden="true"
                                ></i></mat-icon>
                        <div fxFlex="10"></div>
                        <div class="sidenav-item">
                            <h5 class="lead">Master</h5>
                        </div>
                        <div class="sb-sidenav-collapse-arrow">
                            <i *ngIf="!expand2" class="fas fa-chevron-down" aria-hidden="true"></i>
                            <i *ngIf="expand2" class="fas fa-chevron-up" aria-hidden="true"></i>
                        </div>
                    </mat-list-item>
                    <mat-nav-list style="background: #011b91;" *ngIf="expand2">
  
                    </mat-nav-list>
  
  
                    <mat-list-item routerLinkActive="active" (click)="expand3 = !expand3">
                      <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right" aria-hidden="true"
                              ></i></mat-icon>
                      <div fxFlex="10"></div>
                      <div class="sidenav-item">
                          <h5 class="lead">Oracle</h5>
                      </div>
                      <div class="sb-sidenav-collapse-arrow">
                          <i *ngIf="!expand2" class="fas fa-chevron-down" aria-hidden="true"></i>
                          <i *ngIf="expand2" class="fas fa-chevron-up" aria-hidden="true"></i>
                      </div>
                  </mat-list-item>
                  <mat-nav-list style="background: #011b91;" *ngIf="expand3">
                      <div class="sub-menu">
                        <mat-list-item style="padding-left: 5px;" routerLink="oracel_new_groupdetail" routerLinkActive="active">
                          <mat-icon  mat-list-icon><i class="fas fa-arrow-circle-right"
                                  aria-hidden="true"
                                  ></i>
                          </mat-icon>
                          <div fxFlex="10"></div>
                          <div class="sidenav-item">
                              <h5 class="lead">Oracle Activity</h5>
                          </div>
                      </mat-list-item>
  
                      </div>
                  </mat-nav-list>
                </div>
            </mat-nav-list> -->
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <section class="container-fluid">
            <router-outlet></router-outlet>
        </section>
  
    </mat-drawer-content>
  </mat-drawer-container>
  