
<section>
  <div class="page-header">
      <div>
          <h2 class="main-content-title tx-24 mb-1">App User Management</h2>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="dashboard">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">App User Management</li>
          </ol>
      </div>

  </div>

  <div class="row row-sm">

      <div class="col-lg-12">
<div class="card custom-card">
      <div class="card-body">
          <div class="card-item">
              <div class="row">
                  <div class="col-md-4">
                      <h5 class="form-lable">USER MOBILE</h5>
                      <input type="number" pInputText name="user_id" [(ngModel)]="user_id" placeholder="USER ID">
                  </div>
                  <div class="col-md-4">
                    <h5 class="form-lable">NAME</h5>
                    <input type="text" pInputText name="user_name" [(ngModel)]="user_name" placeholder="NAME">
                </div>
              <div class="col-md-4">
                <h5 class="form-lable">PASSWORD</h5>
                <input type="text" pInputText name="user_password" [(ngModel)]="user_password" placeholder="PASSWORD">
            </div>
            <div class="col-md-4">
              <h5 class="form-lable">USER LOCATION</h5>
              <input type="text" pInputText name="user_location" [(ngModel)]="user_location" placeholder="USER LOCATION">
          </div>
          <div class="col-md-4">
            <h5 class="form-lable">USER AGENT NO</h5>
            <input type="text" pInputText name="user_agent_code" [(ngModel)]="user_agent_code" placeholder="USER AGENT NO">
        </div>
        <div class="col-md-4">
          <h5 class="form-lable">USER STATUS</h5>
          <input type="text" pInputText name="user_status" [(ngModel)]="user_status" placeholder="USER STATUS">
      </div>
    <div class="col-md-4">
      <h5 class="form-lable">DEVICE ID</h5>
      <input type="text" pInputText name="user_imei_no" [(ngModel)]="user_imei_no" placeholder="DEVICE ID">
  </div>





          <!-- <div class="col-md-4">
            <h5 class="form-lable">Role</h5>
            <p-dropdown [options]="user_role_list" [(ngModel)]="user_role"  placeholder="User Role" optionLabel="status" [showClear]="true"></p-dropdown>
          </div> -->



          <!-- <div class="col-md-4">
            <h5 class="form-lable">User Type</h5>
            <p-dropdown [options]="user_type_list" [(ngModel)]="user_type"  placeholder="User Type" optionLabel="status" [showClear]="true"></p-dropdown>
          </div> -->


          <!-- <div class="col-md-4">
            <h5 class="form-lable">User Status</h5>
            <p-dropdown [options]="user_status_list" [(ngModel)]="user_status"  placeholder="User Status" optionLabel="status" [showClear]="true"></p-dropdown>
          </div> -->


                  <div class="col-md-12">
                      <button *ngIf="update_button == true" type="button" class="btn btn-primary mt-4" (click)="Insert_pet_type_details()"><i class="fas fa-plus-circle"></i> Add</button>
                      <button *ngIf="update_button == false" type="button" class="btn btn-primary mt-4" (click)="Edit_pet_type_details()"> <i class="fas fa-edit"></i> Update</button>
                      <button *ngIf="update_button == false" type="button" class="btn btn-danger mt-4" (click)="cancel()">
                          Cancel</button>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>
  </div>


  <div class="row row-sm">

      <div class="col-lg-12">
<div class="card custom-card">
      <div class="card-body">
          <div class="card-item">

              <div class="row">
                  <div class="col-md-6">
                      <div class="search-hero">
                          <div class="input-group mb-3">
                             <div class="input-group-prepend">
                               <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                             </div>
                             <input class="form-control" type="text" name="search2"
                         [(ngModel)]="searchQR" autocomplete="off" placeholder="Search...">
                           </div>
                        </div>
                  </div>
                  <div class="col-md-6 text-right">
                      <button type="button" class="btn btn-secondary" (click)="refersh()"><i class="fas fa-sync-alt"></i> Refresh</button>
                  </div>
              </div>


              <div class="table-responsive">
                  <p-table [value]="rows | filter:searchQR" styleClass="ui-table-customers" #tt [paginator]="true" [rows]="15"
  [rowHover]="true" [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['type']">
  <ng-template pTemplate="header">
      <tr class="thhead">
          <th class="th-1">
              S.No
          </th>
          <th>User Mobile</th>
          <th>Name</th>
          <th>Password</th>
          <th>Location</th>
          <th>Agent Code</th>
          <th>User Status</th>
          <th>User on Date</th>
          <th>Device ID</th>
          <th style="width: 163px;text-align:center">
              Action
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item  let-i="rowIndex">
    <tr class="tdrow">
          <td>{{i+1}}</td>
          <td>{{item.user_id}}</td>
          <td>{{item.user_name}}</td>
          <td>{{item.user_password}}</td>
          <td>{{item.user_location}}</td>
          <td>{{item.user_agent_code}}</td>
          <td>{{item.user_status}}</td>
          <td>{{item.user_status_us_on_date  | date:'medium'  }}</td>
          <td>{{item.user_imei_no}}</td>
          <td class="act">
              <i style="color: #2196f3;" class="fas fa-edit" aria-hidden="true" (click)="Editcompanydetailsdata(item)" pTooltip="Edit"></i>
              <i style="color: #fd2c3a;" class="fa fa-trash" aria-hidden="true" pTooltip="Delete" (click)="Deletecompanydetails(item._id)"></i>
              <!-- <i style="color: #4CAF50;" class="fa fa-info-circle" aria-hidden="true" pTooltip="View"></i> -->
          </td>
      </tr>
  </ng-template>
</p-table>
              </div>
          </div>
      </div>
  </div>
</div>
  </div>
</section>
