

<section>
    <div class="page-header">
        <div>
            <h2 class="main-content-title tx-24 mb-1">PDF GENERATE</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="dashboard">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Details</li>
            </ol>
        </div>

    </div>

    <div class="row row-sm">

        <div class="col-lg-12">
<div class="card custom-card">
        <div class="card-body">
            <div class="card-item">
                 <div class="row">
                    <div class="col-md-12">
                    <h3>JOHNSON LIFTS PRIVATE LIMITED</h3>
                    <p>N-1/20 IRC VILLAGE NAYAPALLI, KHIDRA DISTRICITS</p>
                    <p>BHUBANESWAR</p>
                    <p>ORISSA 751491</p>
                    <p>PH-0998111123, 876544567892, 567890</p>
                    </div>
                 </div>   
                 <div class="row">
                    SERVICE REPORT
                 </div> 
            </div>
        </div>
    </div>
 </div>
    </div>
</section>
