<div class="modal-header" style="position: relative;
bottom: 21px;">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close"  mat-dialog-close aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<p-table  styleClass="ui-table-customers"
>

<ng-template pTemplate="header">
        <tr class="thhead" >
            <th>Time</th>
            <th>Job Status</th>
            </tr>
            <tr class="tdrow">
                    <td>{{time}}</td>
                    <td>{{status}}</td>
                    </tr>
</ng-template>



</p-table>
